.chalice/deployments/
.chalice/deployed/
.chalice/config.json
.chalice/venv/
.chalice/config.json
poetry.lock
requirements.txt
storage.json
vendor/credentials.json
vendor/client_secrets.json
vendor/config.json
